<img class="avatar-popup" src="<%= babysitter.user.avatar %>" alt="">
<h4><%= link_to babysitter.full_name,  babysitter, style: "text-decoration: underline;" %>, <%= babysitter.age %></h4>
<div class="basic-info">
  <p><%= babysitter.stars %></p>
  <p>NOK <%= babysitter.price_per_hour %>/hour</p>
</div>
