<div class="container">
  <div class="row justify-content-center">
    <div class="babysitter-profile col-6">

      <div class="card-top">

        <div class="profile-header">
          <img class="avatar-xtra-large" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="">
          <h1><%= "#{@babysitter.user.first_name} #{@babysitter.user.last_name}" %></h1>
          <div class="basic-info">
            <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
            <p>NOK <%= @babysitter.price_per_hour %>/h</p>
          </div>
        </div>

        <div class="profile-nav">
          <div class="nav-menu active">
            <a href="#">BIO</a>
          </div>
          <div class="nav-menu">
            <a href="#">BOOK</a>
          </div>
          <div class="nav-menu">
            <a href="#">REVIEWS</a>
          </div>
        </div>
      </div>

      <div class="card-content">
        <p><%= @babysitter.biography %></p>

        <div class="details">
          <div class="age">
            <p>Age: <%= @babysitter.age %></p>
          </div>

          <div class="location">
            <p>Address: <%= @babysitter.user.address %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
