<div class="container">
  <div class="row justify-content-center">
    <div class="babysitter-profile col-md-8 col-lg-6">

      <div class="card-top">

        <div class="profile-header">
          <img class="avatar-xtra-large" src="<%= @babysitter.user.avatar %>" alt="">
          <h1><%= "#{@babysitter.user.first_name} #{@babysitter.user.last_name}" %></h1>
          <div class="basic-info">
            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
            <p>NOK <%= @babysitter.price_per_hour %>/hour</p>
          </div>
        </div>

        <div class="profile-nav">
          <div class="nav-menu">
            <%= link_to "BIO", babysitter_path(@babysitter) %>
          </div>
          <div class="nav-menu active">
            <%= link_to "BOOK", new_babysitter_booking_path(@babysitter) %>
          </div>
          <div class="nav-menu">
            <a href="#">REVIEWS</a>
          </div>
          <div class="nav-menu">
            <%= link_to "BOOKINGS", babysitter_bookings_path(@babysitter) %>
          </div>
        </div>
      </div>

      <div class="card-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
