<div class="card-top">

  <div class="profile-header">
      <%= image_tag @user.avatar || "avatar-default.png", class: "avatar-xtra-large" %>
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  </div>
  <div class="container">
    <div class="profile-nav">
      <% if @params.nil? || @params == "ALL" %>
        <div class="nav-menu active">
      <% else %>
        <div class="nav-menu">
      <% end %>
        <%= simple_form_for :booking_status, method: :get, url: dashboard_path do |f| %>
          <%= f.button :submit, "ALL", class: "link" %>
        <% end %>
      </div>
      <% if @params == "PENDING" %>
        <div class="nav-menu active">
      <% else %>
        <div class="nav-menu">
      <% end %>
        <%= simple_form_for :booking_status, method: :get, url: dashboard_path do |f| %>
          <%= f.button :submit, "PENDING", class: "link" %>
        <% end %>
      </div>
      <% if @params == "CONFIRMED" %>
        <div class="nav-menu active">
      <% else %>
        <div class="nav-menu">
      <% end %>
        <%= simple_form_for :booking_status, method: :get, url: dashboard_path do |f| %>
          <%= f.button :submit, "CONFIRMED", class: "link" %>
        <% end %>
      </div>
      <% if @params == "COMPLETED" %>
        <div class="nav-menu active">
      <% else %>
        <div class="nav-menu">
      <% end %>
        <%= simple_form_for :booking_status, method: :get, url: dashboard_path do |f| %>
          <%= f.button :submit, "COMPLETED", class: "link" %>
        <% end %>
      </div>
      <% if @params == "REVIEWS" %>
        <div class="nav-menu active">
      <% else %>
        <div class="nav-menu">
      <% end %>
        <%= simple_form_for :show_reviews, method: :get, url: dashboard_path do |f| %>
          <%= f.button :submit, "REVIEWS", class: "link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @params == "REVIEWS" %>
  <% @bookings.each do |booking| %>
    <% booking.reviews.each do |review| %>
    <div class="container">
      <div class="card-product">
        <%= image_tag booking.babysitter.user.avatar || "avatar-default.png" %>
        <div class="card-product-infos">
          <div class="text">
            <div class="bs-info">
              <p>Review for:</p>
              <h2> <%= booking.babysitter.user.first_name %> <%= booking.babysitter.user.last_name %></h2>
               <p><%= review.comment %></p>
               <p class="ratings"><%= review.stars %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% else %>

<div class="container">
  <% @bookings.each do |booking| %>
  <div class="card-product">
    <%= image_tag booking.babysitter.user.avatar || "avatar-default.png" %>
    <div class="card-product-infos">
      <div class="text">
        <div class="bs-info">
          <h2><%= booking.babysitter.user.first_name %> <%= booking.babysitter.user.last_name %></h2>
          <p>Status: <%= booking.status %></p>
        </div>
        <div class="date-info">
          <p>Date: <%= booking.start_time.strftime("%d-%m-%y") %></p>
          <p>From <%= booking.start_time.strftime("%H:%M") %> until <%= booking.end_time.strftime("%H:%M") %></p>
        </div>
      </div>

      <% if @params == "COMPLETED" %>
      <%= link_to "Write a review", new_booking_review_path(booking), class: 'submit-button' %>
      <% end %>
    </div>
  </div>


  <% end %>
</div>
<% end %>
