<div class="card-top">

  <div class="profile-header">
    <img class="avatar-xtra-large" src="<%= @babysitter.user.avatar %>" alt="">
    <h1><%= "#{@babysitter.user.first_name} #{@babysitter.user.last_name}, #{@babysitter.age}" %></h1>
    <h4><%= @babysitter.stars %></h4>
    <% if current_user.address %>
      <p><i class="fas fa-map-marker-alt"></i><%= current_user.distance_from(@babysitter.user.address)&.round %> km | NOK <%= @babysitter.price_per_hour %>/hr</p>
    <% else %>
      <p><i class="fas fa-map-marker-alt"></i>  <%= @babysitter.user.address %> | NOK <%= @babysitter.price_per_hour %>/hr</p>
    <% end %>
  </div>
  <div class="container">

    <div class="profile-nav">
      <div class="nav-menu">
        <%= link_to "ABOUT", babysitter_path(@babysitter) %>
      </div>
      <div class="nav-menu">
        <%= link_to "BOOK", new_babysitter_booking_path(@babysitter) %>
      </div>
      <div class="nav-menu active">
        <%= link_to "REVIEWS", babysitter_reviews_path(@babysitter) %>
      </div>
      <div class="nav-menu">
        <%= link_to "BOOKINGS", babysitter_bookings_path(@babysitter) %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% @bookings.each do |booking| %>
  <% booking.reviews.each do |review| %>
    <div class="container">
      <div class="card-product">
        <%= image_tag review.booking.user.avatar || "avatar-default.png" %>
        <div class="card-product-infos">
          <div class="text">
            <div class="bs-info">
              <p>Review from:</p>
              <h2> <%= review.booking.user.first_name %> <%= review.booking.user.last_name %></h2>
               <p><%= review.comment %></p>
               <p class="ratings"><%= review.stars %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
